/* -------  General Styles ------- */

body {
  display: flex;
  flex-direction: column;
  font-family: "Lato", sans-serif;
  width: 100%;
}

h2 {
  font-size: 26px;
  font-weight: 400;
  margin: 0 10px 10px 10px;
  text-align: center;
}

h3 {
  font-size: 18px;
  font-weight: 500;
}

p {
  line-height: 1.5em;
  margin: 0;
}

section {
  padding: 20px;
}

section.alternate-background {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #00a699;
  color: #fff;
}


main img {
  width: 95%;
  padding: 10px 0;
}

#menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.find {
  margin-bottom: 20px;
}

/* ---  Groups & Items --- */

.group {
  display: flex;
  flex-direction: column;
}

.item {
  flex: 1;
  margin: 10px;
}

.item-double {
  flex: 2;
}

/* -------  Navigation ------- */

header {
  display: flex;
  flex-direction: column;
  background-color: #ff385c;
  padding: 20px 20px 0 20px;
  text-align: center;
}

.logo {
  font-family: "Pangolin", cursive;
  font-size: 72px;
  color: #fff;
}

header nav ul li {
  list-style-type: none;
}

header nav ul li a {
  color: #fff;
  text-decoration: none;
  padding: 0 20px 0 0;
}

header nav ul li a:hover {
  color: #bdbdbd;
  text-decoration: none;
}

/* -------  Search Form ------- */
form {
  display: flex;
  flex-direction: column;
  align-items: space-between;
  border: 2px solid #ff385c;
  padding: 10px;
}

#location,
#arrive,
#depart,
#type {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0;
}



form label {
  font-weight: bold;
}

form select,
form input {
  margin-bottom: 20px;
  width: 180px;
}

form button {
  background-color: #ff385c;
  border: none;
  color: #fff;
  font-size: 24px;
  padding: 15px;
  width: 100%;
}

/* -------  Footer ------- */

footer {
  background-color: #ff385c;
}

footer p {
  color: #fff;
  text-align: center;
  padding: 20px;
}



/* -------  Media Query ------- */

@media all and (min-width: 480px) {
  header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  form {
    display: flex;
    flex-direction: row;
    line-height: 1;
  }

  #location,
  #arrive,
  #depart,
  #type {
    display: flex;
    flex-direction: column;
  }

  input#location, input#arrive, input#depart, input#type {
    display: flex;
    flex-direction: row;
    width: 100%;
    line-height: 1;
  }

  section.alternate-background {
    display: flex;
    flex-direction: row;
  }

  .item {
    flex: 1;
    width: 25%;
  }

  .item-double {
    flex: 2;
    margin-top: 100px
  }

  #host {
    display: flex;
    flex-direction: row;
  }

  .image {
    width: 47%;
    position: relative;
  }

  .imagesNStuff {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 20px;
  }

  .ideas-header {
    margin-top: 20px;
    margin-bottom: 0
  }

  .form-item {
    flex: 1;
  }

  #about {
    display: flex;
    flex-direction: column;
  }

  .imagesNStuffTwo {
    display: flex;
    flex-direction: row;
  }

  .one {
    width: 50%;
  }

}